img {
  width: 100%;
}
.trash {
  width: 2%;
}

.landingWelcome {
  font-size: 5.7rem;
  font-weight: 550;
  line-height: 0.9;
  color: black;
}

.surf {
  font-size: 5.7rem;
  line-height: 1.5;
  width: 20%;
}

.landingDescription {
  font-size: 1.25rem;
  font-weight: 550;
  line-height: 1.3;
  color: black;
}

.landingIcons {
  width: 10%;
}
.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb;
}
